header {
  text-align: center;
}

li {
  style: none;
}

/*.msg:nth-of-type(even) {
  background-color: white;
}*/
.msg:nth-of-type(odd) {
  background-color: gray;
}
#nickname-entry {
  margin: auto;
  width: 50%;
  text-align: center;
}

#chat {
  display: none;
  background-color: red;
  /*padding: 5px;*/
  border-radius: 5px;
  /*height: 500px;*/
}
#messages {
  /*height: 480px;*/
  display: flex;
  background-color: white;
  overflow-y: scroll;
  border-radius: 5px 0 0 0;
  border-right: 1px black solid;

}
#meh {
  background-color: green;
}
.msg {
  padding: 3px;
}

#send-to {
  background-color: orange;
}

#users-typing {
  /*height: 30px;*/
  overflow-x: scroll;
  background-color: pink;
}
/*#controls {
  margin: auto;
  /*width: 75%;
  border: solid 1px black;
  text-align: center;s
}

/*#feed {
  display: inline-block;
  width: 75%;
  height: 500px;
  border: solid 2px gray;
  /*overflow-y: scroll;
}*/

#whos-online {
  display: inline-block;
  /*height: 500px;*/


}
