header {
  text-align: center;
}

li {
  style: none;
}

body {
  padding: 5px;
  background-color: #ec971f;
}

/*.msg:nth-of-type(even) {
  background-color: white;
}*/
/*.msg:nth-of-type(odd) {
  background-color: gray;
}*/
.priv {
  color: purple;
}

.publ {
  color: #286090;
}

.room-event {
  color: yellow;
  font-style: italic;
}
#nickname-entry {
  margin: auto;
  text-align: center;
}

#chat {
  display: none;
  opacity: .9;
  /*padding: 5px;*/
  margin:auto;
  border-radius: 5px;
  /*height: 500px;*/
}
#messages {
  height: 300px;

  /*display: flex;*/
  background-color: #36454f;
  overflow-y: scroll;
  border-radius: 5px 5px 0 0;
  border-right: 1px black solid;
  border-top: 1px black solid;
  border-left: 1px black solid;

}
#messenger {
  border-radius: 5px;
}
.msg {
  padding: 3px;
}

#users-typing {
  height: 30px;
  color: white;
  overflow-x: scroll;
  overflow-y: hidden;
  background-color: #36454f;

  border-left: 1px black solid;
  border-right: 1px black solid;
  border-bottom: 1px black solid;
  /*border-bottom: 1px black solid;*/
  border-radius: 0 0 5px 5px;

}
/*#controls {
  margin: auto;
  /*width: 75%;
  border: solid 1px black;
  text-align: center;s
}

/*#feed {
  display: inline-block;
  width: 75%;
  height: 500px;
  border: solid 2px gray;
  /*overflow-y: scroll;
}*/

#whos-online {
  /*display: inline-block;
  /*height: 500px;*/
  text-align: left;


}
